#**Introduction to Financial Python**
##Functions and Objective-Oriented Programming

###**Introduction**

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

###**Functions**

A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [1]:
def product(x,y):
    return x*y
print (product(2,3))
print (product(5,10))

6
50

In [2]:
#Mi ejemplo
def div(x,y):
    return x/y
print (div(12,3))
print (div(10,2))

4.0
5.0

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [3]:
def say_hi():
    print ("Welcome to QuantConnect")
say_hi()

Welcome to QuantConnect

In [4]:
#Mi ejemplo
def say_thanks():
    print ("Thank you")
say_thanks()

Thank you

###**Built-in Function**

**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [5]:
x = range(10)
y = range(1, 11)
z = range(1, 11, 2)
for n in x:
  print(n, end=' ')
print("")
for n in y:
  print(n, end=' ')
print("")
for n in z:
  print(n, end=' ')

0 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 3 5 7 9

In [6]:
#Mi ejemplo
a = range(1, 21, 3)
for n in a:
  print(n, end=' ')

1 4 7 10 13 16 19

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [7]:
tickers = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
print ("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print (k + 1, tickers[k])

The number of tickers is 8
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE

In [8]:
#Mi ejemplo
patos = ["Hugo", "Paco", "Luis"]
print("Hay {}". format(len(patos)) + " patos")

Hay 3 patos

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map()** is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [9]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [10]:
#Mi ejemplo
patos = ['Hugo','Paco','Luis', 'Daisy']
print(list(map(len,patos)))

[4, 4, 4, 5]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [11]:
print(list(map(lambda x: x**2, range(10))))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
#Mi ejemplo
print(list(map(lambda x: x*2, range(10))))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

map() can be applied to more than one list. The lists have to have the same length.

In [13]:
print(list(map(lambda x, y: x+y, [1,2,3,4,5], [5,4,3,2,1])))

[6, 6, 6, 6, 6]

In [14]:
#Mi ejemplo
print(list(map(lambda x, y: x*y, [1,2,3,4,5], [5,4,3,2,1])))

[5, 8, 9, 8, 5]

**sorted()** takes a list or set and returns a new sorted list:

In [15]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [16]:
#Mi ejemplo
sorted([1,3,5,7,9,0,2,4,6,8])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [17]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69),
 ('WMT', 75.32),
 ('AAPL', 144.09),
 ('FB', 150),
 ('GOOGL', 911.71)]

In [18]:
#Mi ejemplo
score_list = [('E', 100), ('F', 20), ('A', 60), ('B', 80), ('I', 40)]
sorted(score_list, key = lambda x: x[1])

[('F', 20), ('I', 40), ('A', 60), ('B', 80), ('E', 100)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [19]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('GOOGL', 911.71),
 ('FB', 150),
 ('AAPL', 144.09),
 ('WMT', 75.32),
 ('MSFT', 69)]

In [20]:
#Mi ejemplo
score_list = [('E', 100), ('F', 20), ('A', 60), ('B', 80), ('I', 40)]
sorted(score_list, key = lambda x: x[1], reverse = True)

[('E', 100), ('B', 80), ('A', 60), ('I', 40), ('F', 20)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [21]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
price_list.sort(key = lambda x: x[1])
print (price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOGL', 911.71)]

In [22]:
#Mi ejemplo
score_list = [('E', 100), ('F', 20), ('A', 60), ('B', 80), ('I', 40)]
score_list.sort(key = lambda x: x[1])
print (score_list)

[('F', 20), ('I', 40), ('A', 60), ('B', 80), ('E', 100)]

###**Object-Oriented Programming**

Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

**Class**

A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [23]:
class Stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1

    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1

    def print_return(self):
        print (self.rate_return)

In [24]:
#Mi ejemplo
class Person:
    def __init__(self, name, nationality, age, gender):
        self.name = name
        self.nationality = nationality
        self.age = age
        self.gender = gender

    def greet(self):
        print("Hello, my name is " + self.name + ", I have " + str(self.age))

    def say_gooobye(self):
        print ("Adios")

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called $__init__$, which is a special method. When we create a new instance of the class, the $__init__$ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [25]:
apple  = Stock('AAPL', 143.69, 144.09, 20109375)
google = Stock('GOOGL', 898.7, 911.7, 1561616)

In [26]:
#Mi ejemplo
peter = Person("Peter Parker", "Englishman", 17, "M")
diana = Person("Diana Spencer", "Englishman", 36, "F")

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [27]:
print(apple.ticker)
print(google.print_return())
print(google.update(912.8,913.4))
print(google.print_return())

AAPL
0.014465338822744034
None
None
0.0006573181419806673
None

In [28]:
#Mi ejemplo
print(peter.name)
print(diana.greet())
print(diana.age)
print(diana.say_gooobye())

Peter Parker
Hello, my name is Diana Spencer, I have 36
None
36
Adios
None

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [29]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [30]:
#Mi ejemplo
peter.age = 18
peter.age

18

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [31]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [32]:
#Mi ejemplo
dir(diana)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'gender',
 'greet',
 'name',
 'nationality',
 'say_gooobye']

**Inheritance**

Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [33]:
class Child(Stock):
    def __init__(self, name):
        self.name = name

In [34]:
#Mi ejemplo
class Student(Person):
    def __init__(self, name, age):
        self.name = name
        self.age = age

Then we create an object:

In [35]:
aa = Child('AA')
print (aa.name)
aa.update(100, 102)
print (aa.open)
print (aa.close)
print (aa.print_return())

AA
100
102
0.020000000000000018
None

In [36]:
#Mi ejemplo
pepito = Student("Pepito Perez", 18)
print(pepito.name)
print(pepito.age)
print(pepito.greet())

Pepito Perez
18
Hello, my name is Pepito Perez, I have 18
None

As seen above, the new class Child has inherited the methods from Stock.

###**Summary**

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.